ipykernel
pydantic
langgraph
langchain_google_genai
dotenv 
langchain_huggingface
sentence_transformers
langchain_community
chromadb
protobuf
pypdf
duckduckgo-search
langchain_tavily
langchain_groq 
yfinance